@import "typed";

.hero {
  min-height: calc(100vh - 1rem);
  display: grid;
  place-items: center;

  .group {
    width: 100%;
    text-align: center;

    .title {
      font-size: 4rem;

      span {
        @include typed(
          (
            "Robert": (
              color: var(--royal-blue),
            ),
            "a student": (
              color: var(--green),
            ),
            "a JavaScript Developer": (
              color: var(--yellow),
            ),
          )
        );
      }

      &__secondary {
        font-size: 2.5rem;
      }

      &__tertiary {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .group {
      .title {
        font-size: 3rem;

        &__secondary {
          font-size: 1.5rem;
        }

        &__tertiary {
          font-size: 1rem;
        }
      }
    }
  }
}
