$animation-duration: 1;

.skills {
  min-height: 100vh;
  padding-top: 6rem;
  position: relative;

  .title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__group {
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;

    &:nth-child(2) &__title {
      color: var(--orange);
    }

    &:nth-child(2) &__item {
    }

    &:has(&__item:hover) &__item {
      animation-play-state: paused;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: var(--dark-green);
    }

    &__content {
      text-align: center;
    }

    .item {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      background: var(--secondary-background);
      margin: 0.25rem;
      animation: animated_items 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background: var(--dark-royal-blue);
        color: var(--white);
      }
    }
  }

  .icons {
    position: absolute;
    inset: 0;
    z-index: -10;

    .icon {
      width: fit-content;
      position: absolute;

      &:nth-child(1) {
        top: 15%;
        left: 0;
      }

      &:nth-child(2) {
        top: 58%;
        left: 6%;
      }

      &:nth-child(3) {
        bottom: -1rem;
        left: 10%;
      }

      &:nth-child(4) {
        bottom: 1rem;
        right: -1rem;
      }

      &:nth-child(5) {
        bottom: 55%;
        left: 20%;
      }

      &:nth-child(6) {
        bottom: 50%;
        right: -10%;
      }

      &:nth-child(7) {
        top: 50%;
        left: -10%;
      }

      &:nth-child(8) {
        top: 15%;
        right: 0;
      }

      &:nth-child(9) {
        bottom: 33%;
        right: 15%;
      }
    }
  }
}

@for $i from 1 through 11 {
  .skills__group:nth-child(2) .item:nth-child(#{$i}) {
    animation-delay: #{($i * $animation-duration) * (1 / 22)}s;
  }
  .skills__group:nth-child(3) .item:nth-child(#{$i}) {
    animation-delay: #{($i * $animation-duration + 11) * (1 / 22)}s;
  }
}

@keyframes animated_items {
  0%,
  50% {
    background-color: var(--secondary-background);
    color: var(--primary-foreground);
  }
  25% {
    background-color: var(--dark-royal-blue);
    color: var(--white);
  }
}

@media (max-width: 850px) {
  .icons {
    filter: blur(3px);
    opacity: 0.7;
  }
}
